#map {
    width: 100%;
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family:Arial;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #3b383a;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}
.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: row;
    flex: 1;
}


.left-column {
    padding: 0.5rem;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #020108;
    box-shadow: 0px 0px 16px rgba(67, 29, 11, 0.19);
    color:white;
    width: 354px;
}

.right-column {
    display: flex;
    flex: 1;
    align-items: stretch;
    div{
        flex: 1;
    }
}


@media (max-width: 768px) {
    .page {
    }
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.barCharts{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background: lavender;
    .closeBtn{
        float: right;
        color:coral;
    }
}

.cafeCard{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background: #CE556A;
    box-shadow: 0px -4px 16px rgba(206, 85, 106, 0.4);
    color:black;
    min-height:100px;
    padding: 22px 17px 7px;
    .closeBtn{
        float: right;
        color:coral;
    }
    .cafeCard--header{
        font-weight: 800;
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 6px;
    }
    .cafeCard--closeBtn{
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
    }
}

#cafeList{
    display: flex;
    flex-grow: 1;
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position:relative;

    input{
        background: rgba(196, 196, 196, 0.2);
        border-radius: 4px;
        border:none;
        color: #D0CDC6;
        font-size: 16px;
        font-style: italic;
        padding: 4px 12px;
        width:294px;
    }

    ul.scrollable{
        position: absolute;
        top: 64px;
        bottom: 0;
        left:0;
        right:0;
        display: block;
        overflow-y: scroll;
        padding-left: 0;
    }
}

.filters {
    padding-top: 14px;
    padding-bottom:32px;

    .filterOpenNow,
    .filterEcoFriendly {
        background: rgba(196, 196, 196, 0.2);
        border-radius: 999px;
        color: #D0CDC6;
        padding: 2px 12px 4px;
        display: inline;
        font-size: 12px;
        cursor: pointer;

        &.__checked {
            background: rgba(0, 0, 0, 0.5)
        }
    }

    .filterOpenNow {
        margin-left: 5px;
    }

    .filterAverageCheck__slider {
        position: relative;
        height: 30px;
    }

    .filterAverageCheck__from,
    .filterAverageCheck__to {
        position: absolute;
        top: 50%;
    }

    .noUi-target {
        box-shadow: none;
        background: none;
        height: 0;
        top: 50%;
    }

    .noUi-handle {
        top: -3px !important;
        right: -3px !important;
        width: 6px !important;
        height: 6px !important;
        cursor: pointer;
        background: black;
        border-radius: 10px;
        box-shadow: none;

        &::before {
            top: -4px;
            left: -4px;
            width: 12px !important;
            height: 12px !important;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 20px;
        }

        &::after {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }

    .noUi-connects,
    .noUi-connect,
    .noUi-pips,
    .noUi-marker {
        display: none;
    }
}
.scrollable {
    display: flex;
    flex-direction: column;

    .listItem {
        padding: 10px;
    }
}

.connectingLineLayerSvg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
